body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}




h1 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-weight: bold;


}

hr {
    border-color: #f05f44;
    border-width: 2px;
    max-width: 65px;
}

.btn {
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    background-color: #f05f44;
    border-color: #f05f44;


}

.btn:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
}

.buffer{
	height: 10rem;
}

@media (max-width: 800px) {
  body {
    background: url(header.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: 80%;
    
}
h1{
    
    font-size: 8rem;
}


}

